@import "~bootstrap/less/variables.less";

@menu-animation-duration: 0.35s;

.tw-public-navigation-menu {
  z-index: 2;

  &.collapse {
    display: initial; // display cannot be animated

    visibility: hidden; // but visibility can
    transition: visibility 0s ease @menu-animation-duration; // to make it invisible after the animation is finished
    &.in {
      visibility: visible;
      transition: visibility 0s ease;
    }

    @media screen and (min-width: @screen-md-min) {
      visibility: visible;
    }
  }

  &__overlay {
    border: 0;
  }

  &__close-button {
    padding: 9px 0 !important; // same as from .navbar-toggle, but mistakenly overruled by button.close

    transition-delay: @menu-animation-duration !important; // to fade the button in, previously relied on classes added by bootstrap.js
    &.collapsed {
      transition-delay: unset !important; // to not delay the button fade-out
    }
  }

//Fix for long menus. Custom to current menu items.
  .navbar-nav > li {
    > a,
    > button {
      @media (min-width: @screen-md-min) and (max-width: @screen-lg-max) {
        padding-right: 10px;
        padding-left: 10px;

        &:last-child {
          padding-right: 20px;
        }

        &.dropdown-toggle .caret {
          margin-left: 2px;
        }
      }

      [lang="fr"] & {
        @media (min-width: @screen-md-min) and (max-width: @screen-lg-max) {
          padding-right: 4px;
          padding-left: 4px;

          &:last-child {
            padding-right: 8px;
          }
        }
      }
    }
  }
}

.tw-public-navigation-item-content__text {
  @media screen and (min-width: @screen-md-min) {
    max-width: 88px;
  }

  @media screen and (min-width: 880px) {
    max-width: 154px;
  }
}

.navbar-right li > .dropdown-menu::before {
  @media (min-width: @screen-md-min) and (max-width: @screen-lg-max) {
    right: 8px;
  }
}
