{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": ["prettier", "airbnb"],
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-filename-extension": 0,
    "no-use-before-define": 0,
    "import/no-extraneous-dependencies": 0,
    "jsx-a11y/label-has-for": [2, {
      "required": {
        "some": ["nesting", "id"]
      }
    }]
  }
}