@import '~@transferwise/icons/dist/icons.min.css';

.tw-public-navigation-item-content {
  &__icon {
    vertical-align: middle;
    margin-bottom: 1px;
    svg {
      vertical-align: top;
    }
    &__text {
      font-weight: 600;
    }
  }
}
