@import '~bootstrap/less/variables.less';

.tw-public-navigation-menu {
  &__header {
    height: @navbar-height;
    flex-shrink: 0;

    .navbar--submenu & {
      height: @navbar-secondary-height;
    }
  }
  &__buttons {
    > * {
      display: inline-block;
    }
  }
}
